.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .center::before {
  background: var(--secondary-glow);
  border-radius: 80%;
  width: 1980px;
  height: 1060px;
  margin-left: -400px;
} */

.center::after {
  background: var(--primary-glow);
  width: 540px;
  height: 1980px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: fixed;
  filter: blur(45px);
  transform: translateZ(0);
  z-index: -510;
}
